<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277596429275-nof752otra6h52ikjjvh4qhbh442cl58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277596429275-nof752otra6h52ikjjvh4qhbh442cl58</string>
	<key>API_KEY</key>
	<string>AIzaSyB6SjizFp1BIgTArKuDzIqI8-pHd3hBopY</string>
	<key>GCM_SENDER_ID</key>
	<string>277596429275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jinminProject</string>
	<key>PROJECT_ID</key>
	<string>jinmin-projcet</string>
	<key>STORAGE_BUCKET</key>
	<string>jinmin-projcet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277596429275:ios:5a93fd2b8afe459d3fe5fe</string>
</dict>
</plist>